extends layout 

block content 
    main.container 
        h1= title
        form(action="/add" method="POST")
            label(for="title") Task Title
            input(type="text", id="title", name="title", required)
            button.add-button(type="submit") Add Task
        a.back-button(href="/") Go Back