extends layout 

block content 
    main.container 
        h1= title
        form(action=`/edit/${task.id}` method="POST")
            label(for="title") New Task Title
            input(type="text", id="title", name="title", value=task.title, required)
            button(type='submit', class="edit-button") Edit Task
        a(href='/', class='back-button') Go Back