extends layout 

block metas
    title Error 404 - Page not found
    meta(name="description", content="Error 404 - Page not found")

block content
    main.container
        h1 Error 404 - Page not found
        img(src="https://t4.ftcdn.net/jpg/03/47/52/67/240_F_347526772_eD9AEPtptGrCUj4FeOfHD87eSqXPbg55.jpg", alt="404 - Page no")
        p The page you are looking for does not exist. Please go back to the home page.
        a(href="/") 🏚️ Go back to the home page