extends layout

block metas 
    title Home of my site with Express.js
    meta(name="description", content="This is the home of my site with Express.js")

block content
    main.container
        h1 My site with Express.js
        nav
            ul
                li
                    a(href="/contacto") Contact (.html)
                li
                    a(href="/git") Git (.md)
                li
                    a(href="/nodejs") Node JS (.md)
                li
                    a(href="/hola") Hola (.pug)
                li
                    a(href="/nothing") Error 404 Tester (.pug)